#score {
  grid-column-start: 3; grid-row-start: 2; grid-row-end: 4;
  align-self: stretch; border-left: 1px solid rgba(255, 255, 255, 0.1);
  width: 50%; margin: 0 auto; display: flex; flex-direction: column;

  .data {
    height: 20%;
    .title { background: rgba(124, 179, 66, 0.2); padding: 8px; font-size: 1.15rem; opacity: 80%; color: #9ccc65; }
    .info  { text-align: right; color: #c17a4a; font-size: 2.4rem; padding: 6px 8px; }
  }
}
