@import "Skins/common.less";

#swiper {
  position: absolute; bottom: 0; left: 0;
  height: ((@grid-rows - @ready-board-grid-rows) * @grid-item-height) + 2px;
  border-right: 2px solid #7cb342;
  background: linear-gradient(90deg, rgba(124, 179, 66, 0) 0%, rgba(124, 179, 66, 0.35) 100%);
  width: 0;

  .deleted {
    position: absolute; top: -25px; right: -2px; height: 25px; width: 50px;
    border: 2px solid #7cb342; padding-right: 15px;
    .score { color: #7cb342; text-align: right; }
    #arrow { position: absolute; right: -15px; top: 50%; transform: translateY(-50%); }
  }
}
