#score {
  grid-column-start: 3; grid-row-start: 2; grid-row-end: 4;
  align-self: stretch; border-left: 1px solid rgba(255, 255, 255, 0.12);
  width: 50%; margin: 0 auto; display: flex; flex-direction: column;

  .data {
    height: 20%;
    .title { background: rgba(0, 240, 255, 0.2); padding: 8px; font-size: 1.15rem; opacity: 80%; color: #00f0ff; }
    .info  { text-align: right; color: #ff2bd6; font-size: 2.4rem; padding: 6px 8px; }
  }
}
