@import "Skins/common.less";

@-webkit-keyframes swipe-right-neon {
  from {
    left: 0;
    width: 0;
  }
  to {
    left: ~"calc(100% - 12.5%)";
    width: 12.5%;
  }
}

#swiper {
  position: absolute;
  bottom: 0;
  left: 0;
  height: ((@grid-rows - @ready-board-grid-rows) * @grid-item-height) + 2px;
  border-right: 2px solid #00e5ff;
  background: linear-gradient(90deg, rgba(0, 229, 255, 0) 0%, rgba(0, 229, 255, 0.35) 100%);
  width: 0;

  .deleted {
    position: absolute;
    top: -25px;
    right: -2px;
    height: 25px;
    width: 50px;
    border: 2px solid #00e5ff;
    padding-right: 15px;

    .score {
      color: #00e5ff;
      text-align: right;
    }

    #arrow {
      position: absolute;
      right: -15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
