#swiper {
  position: absolute;
  top:0;
  .deleted {
    position: absolute;
    top: -25px;
    right: -2px;
    height: 25px;
    width: 50px;
    border: 2px solid #fa7f03;
    padding-right: 15px;

    .score {
      color: white;
      text-align: right;
    }

    #arrow {
      position: absolute;
      right: -15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}