.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:before, &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
  }


  &:before {
    background: url('Skins/purple/paths/background.svg');
    background-size: 100%;
    opacity: .6;
  }

  &:after {
    z-index: -10;
    background: url('Assets/images/scan-mask.png') repeat;
    background-color: rebeccapurple;
    transform: scale(2);
  }

  svg {
  }
}


#outer {

}

