#score {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: start;
  border-left: 1px solid rgba(217, 70, 239, 0.3);
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .data {

    height: 20%;

    .title {
      background: rgba(107, 33, 168, 0.45);
      color: #e9d5ff;
      padding: 5px;
      opacity: 80%;
    }

    .info {
      text-align: right;
      color: #f5d0fe;
      font-size: 1.5rem;
      padding: 0 5px;
    }
  }

}