@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap");

@grid-columns: 16;
@grid-rows: 12;
@ready-board-grid-columns: @grid-columns;
@ready-board-grid-rows: 2;
@grid-item-width: 3vw;
@grid-item-height: @grid-item-width;
@grid-item-width-max: 70px;
@grid-item-height-max: @grid-item-width-max;

@ready-board-width: @grid-item-width * @grid-columns;
@ready-board-height: @grid-item-width * 2;
@center-width: @grid-item-width * @grid-columns;
@center-height: @grid-item-height * @grid-rows;

:root {
  --grid-columns: @grid-columns;
  --grid-rows: @grid-rows;
  --grid-item-width: @grid-item-width;
  --grid-item-height: @grid-item-height;
  --ready-grid-columns: @ready-board-grid-columns;
  --ready-grid-rows: @ready-board-grid-rows;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif, "Exo 2";
}

@keyframes glowPulse {
  0%, 100% { filter: brightness(1); }
  50%      { filter: brightness(1.6); }
}

.root {
  overflow: hidden;
  margin: 0;

  //position: fixed;
  //  inset: 1em 1em 1em 1em;
  .app {
    position: relative;
    width: 100vw;
    height: 100vh;

    &.container {
      display: grid;
      grid-template-columns: 25% 50% 25%;
      grid-template-rows:
        minmax(3vw, 150px) calc(@center-height ~"/" 2)
        calc(@center-height ~"/" 2) calc(@center-height ~"/" 4) auto;
      grid-template-areas: "head head head" "well grid score" "well grid score" "footer footer footer" "footer footer footer";
      align-items: center;
    }
  }
}
