@import "Skins/for.less";

@-webkit-keyframes blink {
  0% {
    opacity: .2;
  }
  50% {
    opacity: 1.0;
  }

  100% {
    opacity: .2;
  }
}

.root {
  width: 100vw;
  height: 100vh;


  position: relative;
  color: #fff;

  .titleCard {
    position: absolute;
    inset: 15%;
    text-align: center;
    z-index: 20;

    h3 {

    }

    h2 {
      img {
        width: 20px;
        height: 20px;
        margin-inline: 15px;
      }
    }

    h1 {
    }
  }

  .action {
    position: fixed;
    bottom: 5%;
    text-align: center;
    width: 100%;
    z-index: 20;
    -webkit-animation: blink 1.3s ease-in-out infinite;
  }

  .block {
    width: ~"calc(100vw / 16)";
    height: ~"calc(100vw / 16)";
    float: left;
    background: rgb(85, 79, 83);
    position: relative;

    &:after {
      display: block;
      content: ' ';
      border: 1px solid #968689;
      width: ~"calc(100% + 1px)";
      height: ~"calc(100% + 1px)";
    }

    &:before {
      display: block;
      content: ' ';
      width: 8px;
      height: 8px;
      position: absolute;
      top: ~"calc(100% - 4px)";
      left: ~"calc(100% - 4px)";
      background-color: #968689;
      z-index: 10;
    }
  }

  @array:
    1 linear-gradient(90deg,
    rgba(85, 79, 83, 1) 0%,
    //rgba(67, 57, 64, 1) 50%,
    rgba(127, 85, 55, 1) 100%),

    2 linear-gradient(90deg,
    rgba(67, 57, 64, 1) 0%,
    //rgba(85, 79, 83, 1) 50%,
    rgba(127, 85, 55, 1) 100%),

    3 linear-gradient(90deg,
    rgba(127, 85, 55, 1) 0%,
    //rgba(85, 79, 83, 1) 50%,
    rgba(67, 57, 64, 1) 100%),

    4 linear-gradient(90deg,
    rgba(150, 134, 137, 1) 0%,
    //rgba(85, 79, 83, 1) 50%,
    rgb(113, 103, 104) 100%),

    5 linear-gradient(90deg,
    rgba(85, 79, 83, 1) 0%,
    //rgba(67, 57, 64, 1) 50%,
    rgba(127, 85, 55, 1) 100%),

    6 linear-gradient(90deg,
    rgba(67, 57, 64, 1) 0%,
    //rgba(85, 79, 83, 1) 50%,
    rgba(127, 85, 55, 1) 100%),

    7 linear-gradient(90deg,
    rgba(127, 85, 55, 1) 0%,
    //rgba(85, 79, 83, 1) 50%,
    rgba(67, 57, 64, 1) 100%),

    8 linear-gradient(90deg,
    rgba(67, 57, 64, 1) 0%,
    //rgba(85, 79, 83, 1) 50%,
    rgba(127, 85, 55, 1) 100%);

  .for(@array);
  .-each(@color) {
    @idx: extract(@color, 1);
    @value: extract(@color, 2);
    .block-@{idx} {
      background: @value;
    }
  }
}
