.character {
  grid-column-start: 1; grid-row-start: 3; align-self: end;
  text-align: center; font-size: 4.2rem; color: #ffd166;
  border-radius: 50%; width: 50%; margin: 0 auto; position: relative;

  @keyframes moveCharacterTropical {
    0%   { -webkit-transform: scale(0.8) rotate(0deg);   color: #ffd166; }
    25%  { -webkit-transform: scale(1)   rotate(25deg);  }
    50%  { -webkit-transform: scale(0.9) rotate(360deg); color: #ff4f7b; }
    75%  { -webkit-transform: scale(1)   rotate(-25deg); }
    100% { -webkit-transform: scale(0.8) rotate(0deg);   color: #ffd166; }
  }
  img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; transform: scale(3.5); }
  svg { -webkit-animation: moveCharacterTropical 3s ease-in-out infinite;
        animation: moveCharacterTropical 3s ease-in-out infinite; }
}
