@import "Skins/for.less";

:root {
    --alice-blue: #edf2fb;
    --lavender-web-1: #e2eafc;
    --lavender-web-2: #d7e3fc;
    --perwinkle-crayola: #ccdbfd;
    --lavender-blue-1: #c1d3fe;
    --lavender-blue-2: #b6ccfe;
    --baby-blue-eyes: #abc4ff;
    --orange-pantone: #ff5400;
    --dark-orange: #ff8500;
    --gray: #ded9da;
}

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 90deg;
}

@property --percentage {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@property --color {
    syntax: '<color>';
    inherits: false;
    initial-value: #118AB2;
}

@-webkit-keyframes blink {
    0% {
        opacity: .2;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: .2;
    }
}

@keyframes rotate-gradient {
    0% {
        --angle: 0deg;
        --percentage: 0%;
        --color: #118AB2;
    }
    50% {
        --angle: 180deg;
        --percentage: 100%;
        
        --color: #FFD166;
    }

    100% {
        --angle: 360deg;
        --percentage: 0%;
        
        --color: #FFD166;
    }
}

.root {
    width: 100vw;
    height: 100vh;
    position: relative;
    color: var(--color);
    // -webkit-text-stroke: 1px var(--dark-orange);
    font-size: 2.0rem;
    overflow: hidden;

    &::after {
        position: absolute;
        content: ' ';

        width: 100vw;
        height: 100vh;
        left: 0%;
        top: 0%;


        display: block;
        z-index: -1;
        transition: --angle 0.5s 0.1s, --percentage 0.5s, --color 0.2s;
        background: linear-gradient(var(--angle), var(--color) var(--percentage), #EF476F, var(--color) calc(100% - var(--percentage)));
        animation: rotate-gradient 5s linear infinite;
    }

    .titleCard {
        position: absolute;
        inset: 15%;
        text-align: center;
        z-index: 20;

        h2 {
            img {
                width: 40px;
                height: 40px;
                margin-inline: 15px;
            }
        }

    }

    .action {
        position: fixed;
        bottom: 5%;
        text-align: center;
        width: 100%;
        z-index: 20;
        -webkit-animation: blink 1.3s ease-in-out infinite;
    }

    .block {
        width: ~"calc(calc(100vw / 8) - 4px)";
        height: ~"calc(calc(100vw / 8) - 4px)";
        float: left;
        background: var(--baby-blue-eyes);
        position: relative;
        margin: 2px;

    }

    @array: 1 var(--orange-pantone), 2 var(--dark-orange), 3 var(--lavender-web-2), 4 var(--perwinkle-crayola), 5 var(--lavender-blue-1);

    .for(@array);

    .-each(@color) {
        @idx: extract(@color, 1);
        @value: extract(@color, 2);

        .block-@{idx} {
            background: @value;
            transition: all 1.5s ease;
        }
    }
}