#score {
  grid-column-start: 3; grid-row-start: 2; grid-row-end: 3;
  align-self: start; border-left: 1px solid rgba(255, 46, 77, 0.22);
  width: 50%; margin: 0 auto; display: flex; flex-direction: column;

  .data {
    height: 20%;
    .title { background: rgba(255, 46, 77, 0.2); padding: 5px; opacity: 80%; color: #ff8a9a; }
    .info  { text-align: right; color: #c8cbd3; font-size: 1.5rem; padding: 0 5px; }
  }
}
