#score {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  align-self: stretch;
  border-left: 1px solid lightgray;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .data {

    height: 20%;

    .title {
      background: lightgray;
      padding: 8px; font-size: 1.15rem;
      opacity: 50%;
    }

    .info {
      text-align: right;
      color: white;
      font-size: 2.4rem;
      padding: 6px 8px;
    }
  }

}