.character {
  grid-column-start: 1; grid-row-start: 3; align-self: end;
  text-align: center; font-size: 4.2rem; color: #e2872d;
  border-radius: 50%; width: 50%; margin: 0 auto; position: relative;

  @keyframes moveCharacterAutumn {
    0%   { -webkit-transform: scale(0.8) rotate(0deg);   color: #e2872d; }
    25%  { -webkit-transform: scale(1)   rotate(25deg);  }
    50%  { -webkit-transform: scale(0.9) rotate(360deg); color: #e2572d; }
    75%  { -webkit-transform: scale(1)   rotate(-25deg); }
    100% { -webkit-transform: scale(0.8) rotate(0deg);   color: #e2872d; }
  }
  img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; transform: scale(3.5); }
  svg { -webkit-animation: moveCharacterAutumn 3s ease-in-out infinite;
        animation: moveCharacterAutumn 3s ease-in-out infinite; }
}
