@border-radius: 15px;
@title-width: 150px;
@title-height: 50px;

@-webkit-keyframes menu-show {
    from {
        opacity: 0.4;
        transform: scaleY(1.2);
    }

    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

@-webkit-keyframes title-open {
    from {
        width: ~"calc(@{title-width} - 100px)";
    }

    to {
        width: @title-width;
    }
}

@-webkit-keyframes title-close {
    from {
        width: @title-width;
    }

    to {
        width: ~"calc(@{title-width} - 100px)";
    }
}


.root {
    float: right;
    position: relative;
    clear: both;
    border-bottom-left-radius: @border-radius;
    border-top-left-radius: @border-radius;
    margin-bottom: 5px;

    .title {
        position: relative;
        width: ~"calc(@{title-width} - 100px)";
        height: @title-height;
        top: 0;
        left: 0;
        border-bottom-left-radius: @border-radius;
        border-top-left-radius: @border-radius;
        padding: 1em;

        .content {
            padding: 15px 20px;
            position: absolute;
            top: 0;
            left: 100%;
            width: 100vw;
            height: 80vh;
            border-bottom-left-radius: @border-radius;
            display: none;
        }
    }


    &:first-child {
        z-index: 10;
        //-webkit-animation: menu-show 1s ease-in-out;
        .title {
            width: @title-width;
            -webkit-animation: title-open 1s ease-in-out;

            .content {
                height: ~"calc(80vh + @{title-height})";
                display: block;
            }
        }
    }
}

.active {
    .title:first-child {
        -webkit-animation: title-close 1s ease-in-out forwards;
    }
}
