.options {
  .button {
    // color: #E1E66E;
    // border: 5px solid #E6736E;
    color: #ff6b9d;
    background-color: #7B5EA7;
    border: 5px solid #a78bfa;
    padding: 5rem;
    display: inline-block;
    border-radius: 1.5rem;
    margin: 2rem;
    font-size: 5rem;
  }
}
